@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  min-width:100vw;
  min-height: 100vh;
}
